.navbar {
    --navbar-height: 80px;
    --navbar-links-color: #6a7180;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
    position: relative;
    height: var(--navbar-height);
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
}


.hamburger-menu {
    display: none;
}

.navbar-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex: 1;
    z-index: inherit;
    width: 100%;
    height: 100%;
    right: 0;
}

.navbar-links>ul {
    display: flex;
    list-style: none;
    gap: 35px;
    justify-content: space-between;
}

.logo {
    color: white;
    display: flex;
    gap: 10px;
    font-size: 25px;
    cursor: pointer;
}


.navbar-links li,
.navbar-links li>a {
    color: var(--navbar-links-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    position: relative;
    display: flex;
    align-items: center;
}


.navbar-links li:hover>a {
    color: white;
}

.navbar-links li:hover div .dropdown-icon {
    transform: rotate(-180deg);
    transition: all 0.2s;
}

.navbar-links li a .dropdown-icon {
    transition: all 0.2s;
}

.dropdown-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    vertical-align: middle;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.cta-buttons {
    display: flex;
    gap: 30px;
}

.company-dropdown {
    display: flex;
    min-width: 30rem;
    position: absolute;
    background-color: white;
    padding: 3rem 2rem;
    border-radius: 0.6rem;
    right: 50%;
    transform: translateX(50%);
    top: 100%;
    cursor: default;
    display: none;
}

.company-navlink:hover .company-dropdown {
    display: flex !important;
}


.dropdown-navlink {
    gap: 10px;
    flex-basis: 70%;
    cursor: pointer;
}

.dropdown-navlink-icon {
    min-width: 3rem;
    height: 3rem;
    background: #c9e0a8;
    border-radius: 10px;
}

.dropdown-navlink-title {
    color: black;
}

.dropdown-navlink-subtitle {
    font-size: 0.75rem;
    color: grey;
}



@media screen and (max-width:1150px) {

    .navbar {
        padding-inline: 1.25rem;
    }

    .navbar-links>ul,
    .cta-buttons {
        gap: 25px;
    }
}

@media screen and (max-width:1000px) {
    .navbar-links-container {
        position: fixed;
        flex-direction: column;
        background-color: white;
        top: var(--navbar-height);
        padding: 0px 0px 50px 0px !important;
        height: calc(100vh - var(--navbar-height));
        transition: all 0.2s ease-in;
        right: -100%;

    }

    .navbar ul {
        justify-content: flex-start;
    }

    .navbar-links,
    .navbar-links>ul {
        width: 100%;
        padding-inline: 0;
        gap: 0;
    }

    .navbar-links li {
        border-bottom: 0.03125rem solid #e0e4f4;
        margin-left: auto;
        margin-right: auto;
        padding: 1.125rem 1.25rem;
        font-size: 1.125rem;
        width: 100%;
    }

    .navbar-links li:hover>* {
        color: inherit !important;
    }

    .navbar-links>ul,
    .cta-buttons {
        flex-direction: column;
    }

    .cta-buttons {
        gap: 10px;
    }

    .hamburger-menu {
        display: block;
    }

    .alignment-placeholder {
        display: none;
    }

    .open-menu {
        transform: translateX(-100%);
    }

    .company-dropdown {
        flex-direction: column;
        min-width: none;
        position: static;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        transform: none;
    }

    .open-dropdown {
        max-height: 500px !important;
    }

    .open-dropdown .company-dropdown {
        display: flex !important;
    }

    .navbar-links li:hover div .dropdown-icon {
        transform: rotate(0);
    }


    .open-dropdown div .dropdown-icon {
        transform: rotate(-180deg) !important;
        transition: all 0.2s;
    }

    .company-navlink {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 50px;
        max-height: 56.8px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .dropdown-navlink {
        justify-content: flex-start !important;
    }
}