@import url("https://fonts.googleapis.com/css?family=Roboto");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.App {
  --primary-color: #190c2e;
  --secondary-color: #4d61fc;
}

a {
  color: white;
  text-decoration: none;
}

.bg-default {
  background-color: #f8f8fa !important;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-white {
  color: white;
}

.text-grey {
  color: rgba(255, 255, 255, .6);
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.gap-30 {
  gap: 30px;
}

.btn {
  border: 1px solid #6a7180;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.font-bold {
  font-weight: bold;
}

.font-500 {
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.padding-inline-100 {
  padding-inline: 100px;
}

.heading-2 {
  font-size: 2rem;
}

.mb-18px {
  margin-bottom: 18px;
}

.w-100 {
  width: 100%;
}

.padding-top-100 {
  padding-top: 100px;
}

@media screen and (max-width:1050px) {
  .padding-inline-100 {
    padding-inline: 50px;
  }
}

@media screen and (max-width:600px) {
  .padding-inline-100 {
    padding-inline: 20px;
  }

  .heading-2 {
    font-size: 1.7rem !important;
  }
}